@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #d1b26f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/* We'll replace this dynamically via layout.js */
:where(h1, h2, h3, h4, h5, h6) {
  font-family: inherit; /* will inherit Ms Madi when we add its class to <body> */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ms Madi", cursive;
}
